.app-project{
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;

	.app-project-header{
		margin: 8px 4px 12px;
		.app-project-built-with-text{
			text-align: right;
			margin-bottom: 4px;
		}
		.app-project-built-with-image{
			height: 24px;
			width: auto;
			margin-left: 8px;
		}
	}
}