$navigation-height: 64px;
$footer-height: 128px;

#app-container{
	height: 100%;
	overflow: auto;
	#app-navigation{
		height:	$navigation-height;
		line-height: $navigation-height;
		padding: 0 16px;
		#app-logo{
			height: 32px;
			width: auto;
		}
	}
	#app-content{
		height: calc(100% - #{$navigation-height});
		.app-projects{
			padding: 16px 0;
		}
	}
}
#app-footer{
	background-color: black;
	color: white;
	height: $footer-height;
	text-align: center;
	padding: 16px 0;
}