<div id="app-container">
	<nav id="app-navigation" fxLayout="row nowrap" fxLayoutAlign="space-between center">
		<img id="app-logo" src="../assets/logo.svg" />
	</nav>
	<div id="app-content">
		<section style="height: 100%">
			About me...
		</section>
		<div style="width: 100%; text-align: center; margin-bottom: 16px">
			<h2>Projects</h2>
		</div>
		<div class="app-projects" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px">
			<app-project *ngFor="let project of projects$ | async" [project]="project"></app-project>
  		</div>
</div>
<!-- <footer id="app-footer">Footer</footer> -->