<nav id="main-nav" fxLayout="row" fxLayoutAlign="space-between center">
  <span class="logo-text">levi<span class="primary-text-color">barker</span>.dev</span>
  <div class="links" fxHide.xs fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
    <button mat-button (click)="goTo('#portfolio')">
      Portfolio
    </button>
    <button mat-button (click)="goTo('#contact')">
      Contact
    </button>
    <button mat-stroked-button color="primary">
      <span class="button-text-with-icon right">Resume/CV</span>
      <mat-icon>launch</mat-icon>
    </button>
  </div>
</nav>
<section id="hero" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h1>Hi, I'm <span class="primary-text-color">Levi</span></h1>
    <p style="min-width: 256px; max-width: 560px">Im a full-stack web developer, UX & graphic designer and photographer from Mandan, ND.</p>
  </div>
</section>
<section id="portfolio" class="section primary-color">
  <div class="section-header">
    <h2>
      <span>Portfolio</span>
    </h2>
    <mat-tab-group color="primary" backgroundColor="primary">
      <mat-tab>
        <ng-template mat-tab-label>
          Apps
        </ng-template>
        <div style="padding: 16px">
          <mat-card>
            Test
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          UX Design
        </ng-template>
        <div style="padding: 16px">
          <mat-card>
            Test
          </mat-card>
        </div>
      </mat-tab>
       <mat-tab disabled>
        <ng-template mat-tab-label>
          Graphic Design (Coming Soon)
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
<section id="contact" class="section">
  <div class="section-header">
    <h2>
      Contact
    </h2>
  </div>
  <form fxLayout="column" fxLayoutAlign="flex-start stretch" style="min-width: 256px">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
    <button mat-stroked-button>
      <mat-icon>send</mat-icon>
      Send
    </button>
  </form>
</section>
