<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <h3 style="padding: 16px 32px 8px 16px">Navigation</h3>
    <mat-nav-list>
      <a mat-list-item (click)="scrollToElement(portfolio, sidenav)">
        Portfolio
      </a>
      <a mat-list-item (click)="scrollToElement(about, sidenav)">
        About
      </a>
       <a mat-list-item (click)="scrollToElement(contact, sidenav)">
        Contact
      </a>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main id="inner-app-container" (scroll)="onContainerScroll($event)">
      <section id="hero" fxLayout="column" fxLayoutAlign="flex-start center">
        <img src="../assets/Asset 1left.svg" style="height: 100%; position: absolute; left: -32px; bottom: -32px"/>
        <img src="../assets/Asset 2right.svg" fxHide.xs style="height: 100%; position: absolute; right: -32px; bottom: -32px"/>
        <nav fxFlex="64px" #nav id="main-nav" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="16px">
            <button mat-icon-button fxHide fxShow.xs (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="logo-text">levi<span class="primary-text-color">barker</span>.dev</span>
          </div>
          <div class="links" fxHide.xs fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
            <button mat-button (click)="scrollToElement(portfolio)">
              Portfolio
            </button>
            <button mat-button (click)="scrollToElement(about)">
              About
            </button>
            <button mat-button (click)="scrollToElement(contact)">
              Contact
            </button>
            <button mat-stroked-button color="primary" [matMenuTriggerFor]="resumeMenu">
              <span class="button-text-with-icon right">Resume/CV</span>
              <mat-icon>launch</mat-icon>
            </button>
            <mat-menu #resumeMenu="matMenu">
              <button mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="8px" (click)="goTo('https://www.linkedin.com/in/barkerlevi')">
                <img style="height: 16px;" src="../assets/LI-In-Bug.png"/>
                <span>Linkedin</span>
              </button>
              <button disabled mat-menu-item fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="8px">
                <img style="height: 16px;" src="../assets/PDF_24.png"/>
                <span>PDF Resume (Coming Soon)</span>
              </button>
            </mat-menu>
          </div>
        </nav>
        <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center center" style="position: relative;">
          <div fxLayout="row" fxLayout.xs="column" style="padding: 0 32px;" fxLayoutAlign="flex-start center" fxLayoutGap="36px" >
            <img style="border-radius: 50%; width: 128px; box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486)" src="../assets/_DSC0232.jpg"/>
            <div style="background-color: rgba(255, 255, 255, 0.418); border-radius: 16px;">
              <h1>Hi, I'm <span class="primary-text-color">Levi</span></h1>
              <p style="min-width: 256px; max-width: 560px">I'm a full-stack web developer, UX & graphic designer and photographer
                from Mandan, North Dakota. I'm passionate about finding creative solutions to solve human problems.</p>
                <div fxLayout="row" fxLayoutGap="24px">
                  <fa-icon class="twitter" [icon]="twitter" size="2x" (click)="goTo('https://twitter.com/barkerlevi4')"></fa-icon>
                  <fa-icon class="instagram" [icon]="instagram" size="2x" (click)="goTo('https://www.instagram.com/levibark4/')"></fa-icon>
                  <fa-icon class="dribbble" [icon]="dribbble" size="2x" (click)="goTo('https://dribbble.com/LeviBarker')"></fa-icon>
                  <fa-icon class="behance" [icon]="behance" size="2x" (click)="goTo('https://www.behance.net/levibarker9233')"></fa-icon>
                  <fa-icon class="medium" [icon]="medium" size="2x" (click)="goTo('https://medium.com/@dev.levibarker')"></fa-icon>
                </div>
            </div>
          </div>
        </div>
        <div fxFlex="64px" style="margin: 32px; width: 100%; bottom: 0; text-align: center">
          <button mat-button (click)="scrollToElement(portfolio)">
            See my work here<br/>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
      </section>
      <section #portfolio class="section primary-color">
        <div class="section-header">
          <h2>
            <span>Portfolio</span>
          </h2>
          <mat-tab-group mat-align-tabs="center" style="width: 100%" color="primary" backgroundColor="primary">
            <mat-tab>
              <ng-template mat-tab-label>
                Apps
              </ng-template>
              <div style="padding: 32px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <app-portfolio-card *ngFor="let card of appCards" [title]="card.title" [imageSrc]="card.imageSrc"
                  [imageAlt]="card.imageAlt" [description]="card.description" (openClicked)="card.clickCallback()">
                </app-portfolio-card>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                UX Design
              </ng-template>
              <div style="padding: 32px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <app-portfolio-card *ngFor="let card of uxCards" [title]="card.title" [imageSrc]="card.imageSrc"
                  [imageAlt]="card.imageAlt" [description]="card.description" (openClicked)="card.clickCallback()">
                </app-portfolio-card>
              </div>
            </mat-tab>
            <mat-tab disabled>
              <ng-template mat-tab-label>
                Graphic Design (Coming Soon)
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </section>
      <section #about class="section">
        <div class="section-header">
          <h2>
            About
          </h2>
        </div>
        <p style="max-width: 560px; padding: 0 32px;">
          My name is Levi Barker, and I have been a full-stack web developer since 2016.  I'm currently earning a certificate in UX Design through Google's UX Designer program.
          Creating software is a surprisingly human thing.  Although I work with code on a screen that turns into 1s and 0s, the end goal is to provide a tool to benefit people.  My goal is to provide exceptional software through the combination of technical and human design.</p>
      </section>

      <section #contact class="section primary-color">
        <div class="section-header">
          <h2>
            Contact
          </h2>
        </div>
        <form fxLayout="column" fxLayoutAlign="flex-start stretch" style="min-width: 256px">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
          <button mat-button>
            <mat-icon>send</mat-icon>
            Send
          </button>
        </form>
        <footer style="padding: 32px;">
          <span class="mat-caption">Copyright © Levi Barker 2021</span>
        </footer>
      </section>
      <button matTooltip="Scroll to top" mat-fab id="home-nav-button" [class.active]="showHomeNavButton" (click)="scrollToElement(nav)">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

      </main>

  </mat-sidenav-content>
</mat-sidenav-container>


