<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <h3 style="padding: 16px 32px 8px 16px">Navigation</h3>
    <mat-nav-list>
      <!-- <a mat-list-item (click)="scrollToElement(portfolio, sidenav)">
        Portfolio
      </a>
      <a mat-list-item (click)="scrollToElement(about, sidenav)">
        About
      </a>
       <a mat-list-item (click)="scrollToElement(contact, sidenav)">
        Contact
      </a> -->
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


