/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #434343;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif !important;
}

h1 {
  font-size: 3.5em !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 2.5em !important;
  font-weight: 400 !important;
}

h3 {
  font-size: 1.75em !important;
  font-weight: 400 !important;
}

h4{
  font-size: 1.25sem !important;
  font-weight: 500 !important;
}

// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-grey, A200, A100, A400);
$theme: mat-light-theme((color: (primary: $primary,
      accent: $accent,
    )));

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

.mat-tab-header{
  border: none !important;
}

.mat-button{
  font-family: 'Poppins', sans-serif !important;
}

.primary-text-color{
  color: mat-color($primary);
}

.logo-text{
  font-family: 'Poppins', sans-serif !important;
  font-size: 2em;
  font-weight: 500;
}

#main-nav {
  width: 100%;
  height: 64px;
  padding: 0 32px;
  box-sizing: border-box;
  z-index: 999;
  transition-duration: 400ms;
  // position: absolute;
  margin-right: 16px;
}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  button {
    color: mat-color($primary, default-contrast) !important;
  }

  div {
    margin: 8px 16px;

  }
}

#inner-app-container{
  display: block !important;
  height: 100%;
  overflow: auto;
}

.mat-sidenav-container{
  height: 100vh;
}

#hero{
  position: relative;
}

.section {
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #fff;

  &.primary-color{
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);

    .mat-form-field-outline, .mat-form-field-label{
      color: #fff;
    }

    .mat-input-element{
      caret-color: #fff;
    }

  }

}

.button-text-with-icon {
  margin-left: 8px;

  &.right {
    margin-left: 0;
    margin-right: 8px;
  }
}

p {
  a{
    color: mat-color($primary);
  }
}

.twitter{
  cursor: pointer;
  &:hover{
    color: #00ACEE;
  }
}

.instagram{
  cursor: pointer;
  &:hover{
    color: #C13584;
  }
}

.dribbble{
  cursor: pointer;
  &:hover{
    color: #ea4c89;
  }
}

.stackoverflow{
  cursor: pointer;
  &:hover{
    color: #daa42f;
  }
}

.behance{
  cursor: pointer;
  &:hover{
    color: #000;
  }
}

.medium{
  cursor: pointer;
  &:hover{
    color: #000;
  }
}

#home-nav-button{
  position: absolute;
  left: 32px;
  bottom: 32px;
  transform: scale(0);
  z-index: 9999;
  transition: transform 200ms ease-in-out;
  &.active{
    transform: scale(1);
  }
}

markdown{
  width: 100%;
  img{
    width: 100% !important;
  }
}
